body {
    height: 1500px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.external-player-controls {
    display: flex;
    gap: 20px;
}

.api-header,
.ad-blocker-header {
    margin: 0;
}
